svg{
    fill:#ffffff
}
.bg-color-bstrap{
    background: #712cf9;
}

.bg-color-css3{
    background:#0c73b8 ;
}

.bg-color-html5{
    background: #e34f26;
}

.bg-color-header-gradient{
    background-image: linear-gradient(to right, #18153f, #36779c);
}

