svg{
    fill:#ffffff
}
.bg-color-bstrap{
    background: #712cf9;
}

.bg-color-css3{
    background:#0c73b8 ;
}

.bg-color-html5{
    background: #e34f26;
}


.mini{
    width: 14px;
    height: 14px;
    
}
