svg{
    fill:#ffffff
}
.bg-color-bstrap{
    background: #712cf9;
}

.bg-color-css3{
    background:#0c73b8 ;
}

.bg-color-html5{
    background: #e34f26;
}

.bg-color-js{
    background: #f7df1e;
}

.bg-color-header-gradient{
    background-image: linear-gradient(to right, #18153f, #36779c);
}

.zoomdown2{
    display:inline-block;
    animation: zoomInDown ;
    animation-duration: 2s;
}

.zoomdown3{
    display:inline-block;
    animation: zoomInDown ;
    animation-duration: 3s;
}

.zoomdown4{
    display:inline-block;
    animation: zoomInDown ;
    animation-duration: 4s;
}

.flipflip2{
    display:inline-block;
    animation:  flipInY ;
    animation-duration: 2s;
}